.modal-one {
    background: linear-gradient(#141e30d6, #243b55);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    z-index: 100;
    opacity: 0;
   visibility: hidden;
}
@keyframes opacity {
    
    0% {
        visibility:visible;
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
  }
 
.modal-active{
    transition: ease-in-out .5s;
    opacity: 1;
    animation: opacity .5s ease-in-out ;
  visibility:visible;
}

.modal_text {color: #ffffff;
    text-align:center;
    margin-top: 16px;}

.finish_tex {margin-bottom: 20px;}
    
    .close-btn {position: absolute;
        right: 10%;
        padding: 0;
        background: none;
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
        margin: 0;
        border: none;
        }

.modal-form-conteiner {
   margin: 0 auto;
    background: linear-gradient(#0c131ed1, #080d13c1);;
    box-shadow: 0 15px 25px rgb(0 0 0 / 85%);
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 240px;
    position: absolute;
    z-index: 200;
}

@media (min-width:600px) 
{
    .modal-form-conteiner {
        width: 500px;}
    
}
